.btnWsp{
    display: block;
    position: sticky;
    width: 50px;
    height: 50px;
    line-height: 45px;
    bottom: 30px;
    left: 1380px;
    background: #0df053;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
}
.svgWsp{
    width: 40px;
    height: 40px;
    color: white;
}