.sectionTitle{
    color: white;
    margin-left: 10px;
    margin-bottom:40px; 
}
.boxReglas{
    display:flex ;
    flex-flow: row wrap;
    justify-content: center;
    /* grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    gap: 30px;
    margin: 50px 20px 0 20px;
}



/********** Mobile *********/

@media only screen and (max-width:480px){
    .icon{
        width: 100px;
        height: 100px;
        margin: 30px ;
        background-color:white;
        border: solid black;
        color: black;
        border-radius: 50%;
    }
    .itemReglas{
        width: 45%;
        box-shadow: 0px 0px 3px white;
        border-radius: 5%;
        text-align: justify;
        color: white;
    }
}

/********** Tablet *********/


@media only screen and (min-width:481px) and (max-width:978px){
    .icon{
        width: 100px;
        height: 100px;
        margin: 30px 30px 30px 40%;
        background-color:white;
        border: solid black;
        color: black;
        border-radius: 50%;
    }
    .itemReglas{
        width: 40%;
        box-shadow: 0px 0px 3px white;
        border-radius: 5%;
        text-align: justify;
        color: white;
    }
}

/********** Desktop **********/

@media only screen and (min-width:979px){
    .icon{
        width: 100px;
        height: 100px;
        margin: 20px 0 20px 45%;
        padding: 3px;
        background-color:white;
        border: solid black;
        color: black;
        border-radius: 50%;
    }
    .itemReglas{
        width: 40%;
        box-shadow: 0px 0px 3px white;
        border-radius: 5%;
        text-align: justify;
        color: white;
    }
}