.bodyCardEspacios{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
}
.imgEspacios{
    height: 400px;
    width: 400px;
}

/********** Mobile **********/

@media only screen and (max-width:480px){
    .imgEspacios{
        height: 350px;
        width: 350px;
    }
}
