.bodyCardEspacios{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
}
.imgEspacios{
    height: 400px;
    width: 400px;
}

/********** Mobile **********/

@media only screen and (max-width:480px){
    .imgEspacios{
        height: 350px;
        width: 350px;
    }
}


/********** Tablet *********/


@media only screen and (min-width:481px) and (max-width:978px){
    .bodyCardEspacios{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: white;
        }
    .imgEspacios{
        height: 280px;
        width: 355px;
    }
  }
  
