@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}
a:hover {
  color: orange;
}

body {
  margin: 0;
  height: auto;
  background-color: black;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,h3,p,label{
  font-family: "Hanken Grotesk", sans-serif;
}


button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Hanken Grotesk", sans-serif;
  cursor: pointer;
}
button:hover{
  color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/********** Mobile **********/

@media only screen and (max-width:480px){
  .imgCasa{
    width: 100%;
    height: 300px;
  }
  .roomTitle{
    padding-top: 35px;
  }
  .fondoEspacios{
    background-image: url("/imgRooms/fondoEspacios.jpg");
    background-size: cover;
    background-attachment: fixed;
    border: black solid;
    height: 100%;
  }
  .contacSection{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px;
    width: 95%;
    height: auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.22);
    margin-top: 40px;
    margin-left: 2%;
    
  }
  .mapaHP{
    width: 90%;
    margin-top: 30px;
    margin-left: 4%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.22);
  }
}

/********** Tablet **********/

@media only screen and (min-width:481px) and (max-width:978px){
  .fondoEspacios{
    background-image: url(/imgRooms/casablancadenoceh.jpeg);
    background-attachment: fixed;
    background-size: 100% ;
    border: black solid;
    height: 600px;
  }
}

/********** Desktop **********/

@media only screen and (min-width:979px){

  .imgCasa{
    width: 100%;
    height: 800px;
  }
  .roomTitle{
    padding-top: 110px;
  }
  .contacSection{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
    width: 95%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.22);
    margin-top: 40px;
    margin-left: 2%;
    
  }
  .mapaHP{
    width: 700px;
    height:560px;
    margin-top: 30px;
    margin-right: 4%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.22);
  }

  .fondoEspacios{
    background-image: url(/imgRooms/casablancadenoceh.jpeg);
    background-attachment: fixed;
    background-size: 100% ;
    border: black solid;
    height: 600px;
  }
} 